<%- include('../includes/header.ejs')%>
</head>
<body class="red lighten-4">
    <header>
        <%- include('../includes/navbar.ejs')%>
    </header>
    <main>
        <div class="container">
            <div class="row" style="margin-left: 20rem;">
                <div class="col s12 m7">
                  <% for(let obj of data){%>
                    <div class="divider"></div>
                  <div class="card" style="margin-top: 30px;">
                    <div class="card-content">
                      <p style="font-size: 0.8rem;"><b><%=user_data.full_name%></b></p>
                      <p style="margin-top: 8px;"><%=obj.post_text%></p>
                    </div>
                    <div class="card-image">
                      <img src="/<%=obj.post_media%>" height="500px">
                    </div>
                    <div class="card-action">
                      <form action="/like" id="postForm" method="post">
                        <input type="hidden" name="owner_email" value="<%=obj.email%>">
                        <input type="hidden" name="user_email" value="<%=user_data.email%>">
                        <input type="hidden" name="id" value="<%=obj._id%>">
                        <button type="submit" class="btn teal"><i class="fa-regular fa-thumbs-up"></i>  Like</button>
                        <a href="/allComments/<%=obj._id%>" class="btn teal right"><i class="fa-solid fa-comment"></i>  All Comments</a>
                      </form>
                      <form action="/postComment" method="post" style="padding-top: 10px;">
                        <input type="hidden" name="owner_email" value="<%=obj.email%>">
                        <input type="hidden" name="user_email" value="<%=user_data.email%>">
                        <input type="hidden" name="user_name" value="<%=user_data.full_name%>">
                        <input type="hidden" name="id" value="<%=obj._id%>">
                        <textarea name="comment" id="" cols="30" rows="10" placeholder="Write your comments"></textarea>
                        <input type="submit" value="Submit" class="btn green" style="margin-left: 9rem; margin-top: 1rem;">
                      </form>
                    </div>
                    <!-- <div class="divider"></div> -->
                    <%}%>
                  </div>
                </div>
              </div>
        </div>
    </main>
<%- include('../includes/footer.ejs')%>
